.root {

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-radius: 2.0em;
}


#11, #10, #20, #21, #30, #31, #40, #41, #box, #borderpane1, #borderpane2, #borderpane3,#borderpane4 {
    -fx-background-radius: 2.0em;
}


  #11:hover, #10:hover, #20:hover, #21:hover, #30:hover, #31:hover, #40:hover, #41:hover {
    -fx-padding: 15 15 15 15;
    -fx-background-color: #5e5e5e;
}

  #stat1, #stat2, #stat3, #stat4 {
      -fx-font-weight: bold;
  }





